<%= image_tag(attachments['final_logo_black.svg'].url) %>

<p>Hello <%= @user.username %> </p>

<p>Congratulations! You just won the auction! %>. </p>


<p> See ya! </p>

<p> The adrenabid team. </p>
