<%= image_tag(attachments['final_logo_black.svg'].url) %>

<p>Hello <%= @user.username %>,</p>

Thank you for joining Adrenabid!
<br>
Here is your secured password:

<%= @user.password %>

<br>
You can change your password and username anytime on your profile page.
<br>

Simply go back to <a href="https://www.adrenabid.com/">AdrenaBiD</a> and start bidding!

<br>

<p>The adrenabid team.</p>


