<p>Hi <%= @user.username %>,</p>

Here is your secured password:

<%= @user.password %>

<br>

You can change your password and username anytime on your profile page.

<br>

Just go back to <a href="https://www.adrenabid.com/">adrenabid</a>and start bidding!

<br>

<p>Adrenabid!!!!</p>

<p>See ya!</p>
