<div class="row">

  <div class ="col-xs-12 col-sm-6 col-sm-offset-3">

    <div class="bidding-form">
      <h1>Place your bid</h1>

      <%= simple_form_for [ @auction, @bid ] do |f| %>
        <%= f.input :price_cents, placeholder: "Type your bidding price here in cents", label: false %>
        <%= f.submit "Bid !", class: "btn btn-primary" %>
      <% end %>

      <br />

      <p>Your current bids on this auction:</p>
      <br>

      <div class="row">
        <% array = [] %>
        <% @auction.bids.sort_by { |b| b.price_cents }.each do |bid|  %>
          <% if bid.user == current_user %>
            <% array << humanized_money_with_symbol(bid.price) %>
          <% end %>
          <% array.each do |price| %>
              <div class = "col-xs-12 col-sm-6 col-md-3">
                <li><%= price %></li>
                <br>
              </div>
          <% end %>
          <% array = [] %>
        <% end %>
      </div>
    </div>
  </div>
</div>
