<div class="row">

  <div class ="col-xs-12 col-sm-6 col-sm-offset-3">

    <div class="bidding-form">
      <h1>Place your bid</h1>

      <%= simple_form_for [ @auction, @bid ] do |f| %>
      <%= f.input :price_cents, placeholder: "Type your bidding price here in cents", label: false %>
      <%= f.submit "Bid !", class: "btn btn-primary" %>
      <% end %>

      <br />

      <p>Your current bids on this auction:</p>

      <ul>
      <% array = [] %>
        <% @auction.bids.each do |bid|  %>
            <% if bid.user == current_user %>
              <% array << humanized_money_with_symbol(bid.price) %>
            <% end %>
          <% good_array = array.sort! %>
          <% good_array.each do |price| %>
            <li><%= price %></li>
          <% end %>
      <% end %>
      </ul>
    </div>
  </div>
</div>
