
<h1 class="ml4">
  <span class="letters letters-1"><img class="image" style="width: 150px" src="https://ss7.vzw.com/is/image/VerizonWireless/iphone-x-kf-device-tab-d-1-hero?$pngalpha$&scl=1" />
  </span>
  <br>
  <br>
  <br>

  <span class="letters letters-2"><img class="image" style="width: 150px" src="
  https://images.rolex.com/catalogue/images/upright-bba-with-shadow/m326935-0007.png?impolicy=upright-majesty" /></span>

  <span class="letters letters-3"><img class="image" style="width: 150px" src="
  https://content.repairpalcdn.com/images/car_images/320/2012MIN002a_320/2012MIN002a_320_01.png" /></span>
  <span class="letters letters-4" style="font-size: 14">

     <h1 class="home" style="font-size: 80px; font-family: ITC Serif Gothic; letter-spacing: 0.4em;
";>Adrenabid</h1>


  <br>
    <section>
  <article>

    <div class="suck-my-graph">

      <div id="rect1"></div>
      <div id="rect2"></div>
      <svg id="Layer_3" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540 240">
          <clipPath id="svgPath3">
            <rect id="svgRect3" x="0" y="0" fill="none" height="240" width="0"/>
          </clipPath>
          <g clip-path="url(#svgPath3)">
            <path class="cls-1" d="M540,129.8a2.6,2.6,0,0,1-2.6.2c-5.7-2-3.6-21.5-9.3-20s-16.6,60-22.7,60S491.5,70,485.5,70s-12,57.9-18,60-5.5-18.7-10-20-5.1,7.5-11.3,10c-2.5,1-6.7,0-6.7,0H381.3s-5.4-.6-6.8,0c-4.7,2.2-3.4,11.8-8.7,10s-3.6-21.5-9.3-20S340,170,334,170,320,70,314,70s-12,57.9-18,60-5.5-18.7-10-20-5.1,7.5-11.3,10c-2.5,1-6.7,0-6.7,0H210s-5.4-.6-6.8,0c-4.7,2.2-3.4,11.8-8.7,10s-3.6-21.5-9.3-20-16.6,60-22.7,60S148.7,70,142.7,70s-12,57.9-18,60-5.5-18.7-10-20-5.1,7.5-11.3,10c-2.5,1-6.7,0-6.7,0H38.9s-5.4-.6-6.8,0c-4.7,2.2-3.4,11.8-8.7,10s-3.6-21.5-9.3-20c-3.4.9-9,23.8-14.2,41.1"/>
          </g>
        </svg>
      <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540 240">
          <clipPath id="svgPath2">
            <rect id="svgRect2" x="0" y="0" fill="none" height="240" width="0"/>
          </clipPath>
          <g clip-path="url(#svgPath2)">
            <path class="cls-1" d="M540,83.8c-1.6-8.4-3.1-13.8-4.5-13.8-6,0-12,57.9-18,60s-5.5-18.7-10-20-5.1,7.5-11.3,10c-2.5,1-6.7,0-6.7,0H431.4s-5.4-.6-6.8,0c-4.7,2.2-3.4,11.8-8.7,10s-3.6-21.5-9.3-20-16.6,60-22.7,60S370.1,70,364,70s-12,57.9-18,60-5.5-18.7-10-20-5.1,7.5-11.3,10c-2.5,1-6.7,0-6.7,0h-58s-5.4-.6-6.8,0c-4.7,2.2-3.4,11.8-8.7,10s-3.6-21.5-9.3-20-16.6,60-22.7,60S198.8,70,192.7,70s-12,57.9-18,60-5.5-18.7-10-20-5.1,7.5-11.3,10c-2.5,1-6.7,0-6.7,0H89s-5.4-.6-6.8,0c-4.7,2.2-3.4,11.8-8.7,10s-3.6-21.5-9.3-20-16.6,60-22.7,60S27.6,70,21.6,70s-12,57.9-18,60c-1.6.6-2.7-.6-3.6-2.7"/>
          </g>
        </svg>
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540 240">
          <clipPath id="svgPath">
            <rect id="svgRect" x="0" y="0" fill="none" height="240" width="0"/>
          </clipPath>
          <g clip-path="url(#svgPath)">
            <path class="cls-1" d="M540,120.1H481.4s-5.4-.6-6.8,0c-4.7,2.2-3.4,11.8-8.7,10s-3.6-21.5-9.3-20-16.6,60-22.7,60S420.1,70,414.1,70s-12,57.9-18,60-5.5-18.7-10-20-5.1,7.5-11.3,10c-2.5,1-6.7,0-6.7,0h-58s-5.4-.6-6.8,0c-4.7,2.2-3.4,11.8-8.7,10s-3.6-21.5-9.3-20-16.6,60-22.7,60S248.8,70,242.8,70s-12,57.9-18,60-5.5-18.7-10-20-5.1,7.5-11.3,10c-2.5,1-6.7,0-6.7,0H139s-5.4-.6-6.8,0c-4.7,2.2-3.4,11.8-8.7,10s-3.6-21.5-9.3-20-16.6,60-22.7,60S77.7,70,71.6,70s-12,57.9-18,60-5.5-18.7-10-20-5.1,7.5-11.3,10c-2.5,1-6.7,0-6.7,0H0"/>
          </g>
        </svg>
    </div>
  </article>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>


  </span>
<br>
<span class="letters letters-4" style="font-size: 14">
<br>
<br>
<br>
<br>
<br>
 <p>
     <% if user_signed_in? %>
       <%= link_to "Get yours now", auctions_path, class: "btn btn-medium btn-home" %>
     <% else %>
       <%= link_to "Get yours now", new_user_session_path, class: "btn btn-medium btn-home" %>
     <% end %>
  </p>
  <!-- <p class="btn btn-medium">
    How it works
  </p>
 -->
</span>
<br>
<br>
<br>
<br>
<br>
<br>
</h1>
<h1 class="ml4">
  <span class="letters letters-1" style="font-size: 14">
    €12.43
</span>
</h1>
<h1 class="ml4">
  <span class="letters letters-2" style="font-size: 14">
    €21.12
</span>
</h1>
<h1 class="ml4">
  <span class="letters letters-3" style="font-size: 14">
    €75.60
</span>
</h1>


<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<script>
  var ml4 = {};
ml4.opacityIn = [0,1];
ml4.scaleIn = [0.2, 1];
ml4.scaleOut = 3;
ml4.durationIn = 800;
ml4.durationOut = 600;
ml4.delay = 500;

anime.timeline({loop: false})
  .add({
    targets: '.ml4 .letters-1',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-1',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-2',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-2',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-3',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-3',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
   }).add({
    targets: '.ml4 .letters-4',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn});

</script>

