<div class="container">
  <div class="info_page_center">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <h1 style="font-size: 40px; text-align: center; text-decoration: underline; text-decoration-color: red;">How it Works</h1>
        <br>

        <h2 style="font-size: 25px; text-align: center">The aim of the game is to place the lowest unique bid on the auction, this is defined by being the only person to bid that amount, and that amount being the lowest.</h2>
        <br>
        <br>
        <p style="text-align: center;">
          <img src="https://happybid.co.uk/themes/default/img/how_it_works.png" alt="">
        </p>
        <br>
        <br>
        <p style="font-size: 15px; text-align: justify; ">The image above shows just how it works, as you can see the £1.27 bid is the lowest bid but more than 1 person bid at that value. The £1.28 bid is neither lowest nor unique so that is also not the winner either. The £1.29 bid is only bid by 1 person and is therefore the lowest unique bid and wins the auction!  You will aso see that £1.30 is a unique bid, meaning that if £1.29 suddenly got bid by someone else and became non-unique, £1.30 would have taken over as the new lowest unique bid.
        Whoever has the lowest unique bid at the end of the auction wins!</p>

        <br>

        <p style="font-size: 20px; text-align: center; text-decoration: underline; text-decoration-color: red;">Remember these 4 key points!</p>
        <br>
        <ol style="font-size: 15px; text-align: justify;" >
          <li>
            When you place a bid you will see a message regarding the status of your bid. i.e. if it is the lowest unique, unique or not unique bid.
          </li>
          <br>
          <li>
            Unique bids still have a chance of winning as long as the auction is in progress. So keep checking regulary to see if it has become lowest unique.
          </li>
          <br>
          <li>
            Each auction has a set number of bids before it ends and when it ends the winner is then verified.
          </li>
          <br>
          <li>
            No one except the person winning knows what the lowest unique bid is currently at, not even Adrenabid!
          </li>
          <br>
        </ol>
      </div>
    </div>
  </div>
</div>
