<div class="container">
  <div class="info_page_center">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <h1 style="font-size: 40px; text-align: center; text-decoration: underline; text-decoration-color: red;">How it Works</h1>
        <br>

        <h2 style="font-size: 25px; text-align: justify">The aim of the game is to place the <u class="red-underline">lowest unique bid</u class="underine-red"> on the auction, this is defined by being the only person to bid that amount, and that amount being the lowest.</h2>

        <p style="text-align: center;">
          <img class="image" style="width: 100%; margin: 0 auto; margin-top: 40px" src="<%= image_url('HIW.png')%>" alt="">
        </p>
        <br>

        <p style="font-size: 25px; text-align: justify; ">As you can see in the image above, the €1.27 bid is the lowest bid but more than 1 person bid at that value. The €1.28 bid is neither lowest nor unique so that is not the winner either. The €1.29 bid is only bid by 1 person and is therefore the <u class="red-underline">lowest unique bid</u class="underine-red"> and wins the auction!
        </p>

        <br>
        <br>
        <p style="font-size: 25px; text-align: center; font-weight: bolder;">Remember these 3 key points!</p>
        <br>
        <ol style="font-size: 25px; text-align: justify;" >
          <li>
            When you place a bid you know if you are currently winning or not.
          </li>
          <br>
          <li>
            Unique bids still have a chance of winning as long as the auction is in progress. So keep checking regulary to see if it has become the <u class="red-underline">lowest unique bid</u class="underine-red">.
          </li>
          <br>
          <li>
            Every participant knows what the current lowest unique bid is, to make the game fair and transparent.
          </li>
          <br>
        </ol>
      </div>
    </div>
  </div>
</div>
