.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 1.5em;
  position: relative;
  z-index: 999;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
}

.home-page-link {
  font-size: 10px;
  color: #999999;
  text-decoration: none;
}

.home-page-link:hover {
  text-decoration: none;
   color: red;
}

