.bidding-form .row li {
  font-size: 12px;
  border: solid 1px;
  border-color: #A9A9A9;
  color: #A9A9A9;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin: 0px 20px 0px 20px;
  text-align: center;
  list-style-type: none;
}

.bidding-form {
  background-color: white;
}
