.bidding-form .row li {
  font-size: 12px;
  border: solid 1px;
  border-color: #A9A9A9;
  color: #A9A9A9;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin: 0px 20px 0px 20px;
  text-align: center;
  list-style-type: none;
}

.status {
  text-align: center;
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 20px;
  color: #A9A9A9;
}

.currentbids {
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

.bidding-form {
  background-color: white;
  margin-top: 30px;
  padding: 20px 100px 20px 100px;
  border-radius: 5px;
  font-size: 15px;
    h1 {
      text-align: center;
      font-weight: lighter;
      font-size: 40px;
      margin-bottom: 50px;
    }
    .btn {
      width: 100%;
    }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
