
.card {
  height: 225px;
  width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.9);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 20px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

// .card:hover .card-description{
//   font-size:18px;
// }

.card .grow { transition: all .2s ease-in-out; }
.card:hover { transform: scale(1.1); }

.card:hover .card-category{
  font-size:18px;

  // text-decoration: underline;
  // text-decoration-color: red;
}



.card-style{
color:white;
text-align: center;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0,0,0,0.6);
  padding: 3px;
  border-radius: 3px;
}
.card-description {
  position: absolute;
  bottom: 0px;
  align-items: center;
  justify-content: center;
  // text-align: left;
  font-size: 16px;
  background-color: red;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.card-description h2 {
  font-size: 20px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  // opacity: 0.1;
}

.card-price {
  font-size: 16px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  // opacity: 0.6;
  padding: 6px;
  // border-radius: 10px;
}
