.footer {
  background-color: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: #8C817B; //rgb(20,20,20);
  overflow: hidden;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #8C817B; //rgb(20,20,20);
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #8C817B;
}
