section{
  margin: 00px 0;
}
article{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
h1{
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3rem;
}


#rect1, #rect2{
  color: white;
  z-index: 10;
  position: absolute;
  left: 32px;
  top: 10px;
  height: 238px;
  width: 0px;
  background: black;
}
.suck-my-graph{
  height: 100%;
  width: 600px;
  background: black;
  border-radius: 3px;
  position: relative;
  padding: 0px;

  &:before{
    content: '';
    position: absolute;
    left: 30px;
    top: 10px;
    height: 240px;
    width: 0px;
    background: #48466d;
  }
  &:after{
    content: '';
    position: absolute;
    left: 30px;
    bottom: 30px;
    height: 0px;
    width: 540px;
    background: #48466d;
  }

  svg{
    position: absolute;
    left: 32px;
    top: 30px;
    width: 540px !important;

    .cls-1 {
      fill: none;
      stroke: red;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
  }
}


//extra stuff
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

html, html a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-size: 10px;
}

body{
  margin: 0;
  background: black;
}
