




.info_page_center {
  height: 1000px;
  color: #FFFFF0;
  background-color: rgb(20,20,20);
  margin-top: 40px;
  padding: 20px 100px 20px 100px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  width: 100%;

}
