.new_payment_center {
  height: 400px;
  color: #A9A9A9;
  background-color: rgb(20,20,20);
  margin-top: 40px;
  padding: 20px 100px 20px 100px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  width: 100%;

}

  h1 {
    color: #FFFFF0;
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
  }

  p {
    color: #FFFFF0;
  }
.amount {
  color: #FFFFF0;
}

