.new_payment_center {
  height: 400px;
  color: #FFFFF0;
  background-color: rgb(20,20,20);
  margin-top: 40px;
  padding: 20px 100px 20px 100px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  width: 100%;
}

.new_payment_center h1 {
    color: #FFFFF0;
    font-size: 28px;
    text-align: center !important;
    text-decoration: underline;
    text-decoration-color: red;
  }

.new_payment_center p {
    color: #FFFFF0;
  }

.new_order_center h1 {
    color: #FFFFF0;
    font-size: 28px;
    text-align: center !important;
    text-decoration: underline;
    text-decoration-color: red;
  }

.new_order_center p {
    color: #FFFFF0;
  }

.amount {
  color: #FFFFF0;
}

