.new_order_center {
  height: 400px;
  color: #A9A9A9;
  background-color: rgb(20,20,20);
  margin-top: 40px;
  padding: 20px 100px 20px 100px;
  border-radius: 5px;
  font-size: 15px;
}

  h1 {
    color: #FFFFF0;
    font-size: 28px;
  }
