.main-auction-show-title {
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 5px;
}

.btn-back {
  width: 100%;
  border: 1px solid;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: lighter;
  margin-bottom: 1em;
  font-size: 15px;
  color: #A9A9A9;
}

.twofirstblocks {
  display: flex;
}

.auction-details {
  height: 220px;
  color: #A9A9A9;
  background-color: rgb(20,20,20);
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    h1 {
      color: white;
      text-align: center;
      font-weight: lighter;
      font-size: 40px;
      margin-bottom: 50px;
    }
    .btn {
      width: 100%;
    }
    .centering {
      padding-top: 3vh;
    }
}

.form {
  padding: 20px 20px 20px 20px;
}

.stressful-timing {
  color: red;
  text-align: center;
  border: 3px solid red;
  padding: 10px 10px;
}

.single-bid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  p, .form-group {
    margin-bottom: 0;
  }
}

.error-message-while-bidding {
  font-weight: lighter;
  color: red;
}

.status {
  text-align: center;
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 20px;
  color: #A9A9A9;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.currentbids {
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
    h1 {
      text-align: center;
      font-weight: lighter;
      font-size: 40px;
      margin-bottom: 50px;
    }
  }

.bid-item {
  border: solid 1px;
  border-color: white;
  border-radius: 10px;
  margin-top: 5px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    margin: 0;
  }
}

.price-table-header {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.link-to-charge {
  text-decoration: none;
  color: white;
}

.link-to-charge:hover {
  color: #AFEEEE;
  text-decoration: none;
}
