.btn-back {
  width: 100%;
  border: 1px solid;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: lighter;
  margin-bottom: 1em;
  font-size: 15px;
  color: #A9A9A9;
}

.twofirstblocks {
  display: flex;
}

.auction-details {
  height: 400px;
  color: #A9A9A9;
  background-color: rgb(20,20,20);
  margin-top: 40px;
  padding: 20px 100px 20px 100px;
  border-radius: 5px;
  font-size: 15px;
    h1 {
      color: white;
      text-align: center;
      font-weight: lighter;
      font-size: 40px;
      margin-bottom: 50px;
    }
    .btn {
      width: 100%;
    }
}

.stressful-timing {
  color: red;
  text-align: center;
  border: 1px solid;
  padding: 10px 10px;
  font-size: 16px;
}

.status {
  text-align: center;
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 20px;
  color: #A9A9A9;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.currentbids {
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
    h1 {
      text-align: center;
      font-weight: lighter;
      font-size: 40px;
      margin-bottom: 50px;
    }
  }

.currentbids-prices li {
  color: #A9A9A9;
  font-size: 12px;
  border: solid 1px;
  border-color: white;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin: 0px 20px 0px 20px;
  text-align: center;
  list-style-type: none;
}

