.main-auction-show-title {
  color: white !important;
  text-align: center !important;
  font-weight: bolder !important;
  font-size: 40px !important;
  margin-bottom: 5px !important;
}

.btn-back {
  width: 100%;
  border: 1px solid;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: lighter;
  margin-bottom: 1em;
  font-size: 15px;
  color: #A9A9A9;
}

.twofirstblocks {
  display: flex;
}

.auction-details {
  height: 300px;
  color: white;
  background-color: rgb(20,20,20);
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    h1 {
      color: white;
      text-align: center;
      font-weight: lighter;
      font-size: 40px;
      margin-bottom: 50px;
    }
    .btn {
      width: 100%;
    }
    .centering {
      padding-top: 3vh;
    }
}

.form {
  padding: 20px 20px 20px 20px;
}

.stressful-timing {
  color: red;
  text-align: center;
  border: 3px solid red;
  padding: 10px 10px;
  background-color: white;
}

.red {
  color: red;
  border-color: red !important;
}

.red p {
  color: red;
}

.single-bid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  p, .form-group {
    margin-bottom: 0;
  }
  .btn {
    margin-bottom: 0px;
  }
}

.error-message-while-bidding {
  font-weight: lighter;
  color: red;
}

.status {
  text-align: center;
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 20px;
  color: #A9A9A9;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.currentbids {
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
    h1 {
      text-align: center;
      font-weight: lighter;
      font-size: 40px;
      margin-bottom: 50px;
    }
  }

.bid-item {
  border: solid 1px;
  border-color: white;
  border-radius: 10px;
  margin-top: 5px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    margin: 0;
  }
}

.price-table-header {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.link-to-charge {
  text-decoration: none;
  color: white;
}

.link-to-charge:hover {
  color: #AFEEEE;
  text-decoration: none;
}

.currently-wining-message {
  text-decoration: underline;
  text-decoration-color: red;
  text-align: center;
  font-size: 31px;
  margin-top: 25px;
  margin-bottom: 12.5px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
  line-height: 1.1;
}

.bid-data {
  color: black;
  font-weight: bolder;
}

#wining-bid-price {
  color: red;
  text-align: center;
  border: 3px solid red;
  background-color: white;
}

.small-size {
  font-size: 20px !important;
}

.info-message {
  margin-bottom: 15px;
  color: #D0D0D0;
  font-size: 15px;
}

.info-message-top {
  color: #D0D0D0;
  font-size: 15px;
  margin-bottom: none;
}

.no-margin-bottom {
} p {
  margin: 0px 0px 0px 0px;
}
